body{
    background-color: rgb(0, 0, 0); 
    /* height: 2000px; */
}



.navbar{
    height: 10px;
    text-decoration: none; 
}
header{
    background-color: rgb(0, 0, 0);
    /*border-bottom: 3px solid white;*/
    position: static;
    margin: 0px;
    padding: 0px;
    height: 110px;
    text-decoration: none; 
}
.tabs li{
    text-decoration: none;
    float: right;
    margin: 0px 0px;
    margin-right: 0px;
    list-style: none;
    color: rgb(255, 255, 255);
}
.tabs li #a1{
    padding-right: 40px;
    padding-left:25px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;
    position: sticky;
}
.tabs li #a2{
    margin-right: 0px;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    float: right;

}
.tabs li #a3{
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    float: right;
}
.tabs li a{
    font-family: 'Quicksand', sans-serif;
    color: #c8cacb;
    font-size: 23px ;
    position: sticky;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    /* border: 3px white solid; */
    position: sticky;
    position: sticky;
}
.tabs li a:hover{
    /* color: rgba(124, 37, 139, 0.82); */
    color: #344b7b;
}
.logo img{
    float:left; 
    margin: 10px;
    position: fixed;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: black;
}
.logo #title{
    color: #c8cacb;
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    float: left;
    position: sticky;
    font-weight: bold;
    margin: 0px 0px;
    margin-left: 85px;
    padding-right: 1127px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 37px;
    background-color: black;
}
.logo img:hover{
    cursor: grab;
}

.logo{
    background-color: black;
    position: fixed;
}
.para1{
    background-color: #000000;
}
.h1{
    color: #c8cacb;
    font-family: 'Quicksand', sans-serif; 
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 60px;
    font-size: 35px;
}
.p1{
    font-family: 'Quicksand', sans-serif; 
    /* font-family: 'Unbounded', cursive; */
    font-size: 20px;
    line-height: 30px; 
    color: #c8cacb;
    margin-left: 100px;
    margin-right: 100px;
}
.p2{
    font-family: 'Quicksand', sans-serif; 
    /* font-family: 'Unbounded', cursive; */
    font-size: 20px;
    line-height: 30px; 
    color: #c8cacb;
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px 0px;
}
.para2{
    /* border-top: white solid 2px; */
     background-color: #243b2b; 
     /* background-color: 	#000000;   */
    margin: 0px;
    padding-bottom: 40px;
}
.l1{
color: #d93d3d;
margin:0px;
display: inline-block;

font-family: 'Quicksand', sans-serif; 
font-size: 20px;
/* border: 3px white solid;   */
width: 55%;
padding-left: 0px;
padding-top: 0px;
background-color: #243b2b;

}
.r1{
    color: #000000;
    margin:0px;
    display: inline-block;
    /* float: right; */
    width: 50%;
    font-family: 'Quicksand', sans-serif; 
    font-size: 20px;
    /* border: 3px white solid;    */
    padding-right: 10px;
    padding-left: 10px;
    width: 42.895%;
    padding-top: 160px;
    background-color: #243b2b;
}

/* .r1 img:hover{
transform:rotateX('180');
transition: transform 1s;
border: #d93d3d 3px solid;
} */

.h2 {

    color:#c8cacb;
    font-family: 'Quicksand', sans-serif; 
    margin-left: 100px;
    margin-bottom: 50px;
    margin-top: 0px;
    font-size: 35px;
   
}
.p3{
    text-align: left;
    font-family: 'Quicksand', sans-serif; 
    /* font-family: 'Unbounded', cursive; */
    font-size: 20px;
    line-height: 30px; 
    /* color: #000000; */
    color: #c8cacb;
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px 0px;
}
.p4{
    text-align: left;
    font-family: 'Quicksand', sans-serif; 
    /* font-family: 'Unbounded', cursive; */
    font-size: 20px;
    line-height: 30px; 
    /* color: #000000; */
    color: #c8cacb;
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px 0px;

}
.para3{
    color: #c8cacb;
    margin-left: 60px;
    margin-right: 100px;
    padding:40px;
    font-size: 25px;
    /* border: 3px white solid; */
    height: 20px;
}
#curve1
{
    /* border: 3px solid yellow; */
    fill: #243b2b;
    background-color: #000000;
}
#curve2{
    background-color: #243b2b;
    /* border: 3px solid yellow; */
}
.p5{
    color: #c8cacb;
    padding-bottom: 100px;
}
#debug{
    background-color: #243b2b;
}

















































/*Form CSS*/

*{
    font-family: 'Quicksand', sans-serif;
    border-radius: 4px;
}
.navibar{
    text-decoration: none;
    /* border:3px white solid; */
    height: 110px;
    background-image: url('resources/black.png');
    font-family: 'Quicksand', sans-serif;
}
.navibar p{
    color:#c8cacb;
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    float: left;
    
    font-weight: bold;
    margin: 25px 0px;
    margin-left: 15px;
}
.navibar img{
    float:left; 
    margin: 5px;
}
.cutu{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color:#c8cacb;
    margin-left: 35px;
    margin-bottom: 20px;
    padding-left: 80px;
    padding: 10px;
}
#head{
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color:#c8cacb;
    margin-left: 30px;
    margin: 40px;
}
#ok{
    font-family: 'Quicksand';
    color:#c8cacb;
    margin-left: 30px;
    margin: 30px;
    font-size: 25px;
}
.cutu input{
    padding: 5px;
    margin: 0px;
    margin-top: 4px;
}
button a{
   
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight:bold;
}
button{
    padding: 10px;
    margin: 30px ;
    color: #671515;
}
button:hover{
    background-color: slategray;
}
button a:hover{
    cursor: pointer;
    color: #671515;
    
}
